.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  overflow: hidden;
  color: #fff;
}

.UpdateModal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signout-button {
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px;
}